[user]
name = Luis Antunes
email = luisantunes0914@gmail.com
username = antunesluis

[init]
defaultBranch = main

[color]
ui = true
status = auto
diff = auto
branch = auto
interactive = auto
grep = auto

[core]
excludesfile = ~/.gitignore
editor = nvim
ignorecase = false

[github]
user = antunesluis
