* {
  font-family: "JetBrains Mono";
  font-weight: bold;
  min-height: 0;
  /* font-size: 100%; */
  font-size: 15px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.85);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

tooltip {
  opacity: 0.9;
  border-radius: 10px;
  background-color: #222;
  color: #ccc;
}

tooltip label {
  padding: 8px;
  color: #ccc;
}

#clock,
#cpu,
#memory,
#mpris,
#network,
#pulseaudio,
#battery,
#temperature,
#workspaces,
#custom-menu,
#custom-swaync {
  border-radius: 10px;
  color: #ccc;
  padding: 4px 8px;
  margin: 4px;
}

#window {
  color: #ccc;
  padding: 4px 8px;
  border-radius: 10px;
}

#workspaces {
  padding: 0px;
  margin: 0px;
}

#workspaces button {
  margin: 0px 1px;
  padding: 0px 8px;
  color: #ccc;
  border-radius: 0px;
}

#workspaces button.active {
  background-color: #555;
  color: #fff;
}

#temperature.critical {
  background-color: red;
}

#network {
  border-radius: 10px;
  color: #ccc;
  padding: 4px 8px;
  margin: 4px;
}
