* {
  font-family: "JetBrains Mono";
  font-weight: bold;
  min-height: 0;
  font-size: 15;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
}

window#waybar {
  background-color: rgba(31, 31, 40, 0.8);
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

tooltip {
  opacity: 0.9;
  border-radius: 10px;
}

tooltip label {
  padding: 10px;
  color: #DCD7BA;
}

#clock,
#cpu,
#memory,
#mpris,
#network,
#pulseaudio,
#baterry,
#temperature,
#workspaces,
#custom-menu,
#custom-swaync {
  border-radius: 10px;
  color: #DCD7BA;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;

  margin-left: 5px;
  margin-right: 5px;
}

#window {
  color: #DCD7BA;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 12px;
}

#workspaces button {
  margin: 1px;

  box-shadow: none;
  text-shadow: none;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #2A2A37;
  color: #DCD7BA;
}

#workspaces button.active {
  background-color: #7E9CD8;
  color: #1F1F28;
}

#temperature.critical {
  background-color: red;
}
